{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>search_job</title>

    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0-dist/css/bootstrap.min.css' %}">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}
    </style>


</head>
<body>
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!--기본 modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<!--기업정보 신청 modal-->
{% include 'request_enter_info_modal.html' %}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'search_app:search_job' %}" id="input-search">Share Company Info</a>
    <button class="navbar-toggler position-fixed d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        {% comment %} <div class="input-group-prepend dropdown ">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                    검색 선택
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#search_job">공고검색</a></li>
                    <li><a class="dropdown-item" href="#search_company">기업검색</a></li>
                </ul>
            </div>
        <form action="{% url 'search_app:search_job_context' %}" method="get" class="w-100 d-inline" id="search_form">
                <input class="form-control form-control-dark w-100 d-inline" type="text" placeholder="공고 검색(사람인)" aria-label="Search"
                    name="search_job" id="search_text" value="{{ request.GET.search_job_context }}">
                <input type="hidden" name="page" value="1">
        </form>
     {% endcomment %}

    <div class="input-group">
        <div class="input-group-prepend" >
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
            검색선택
                <a class="dropdown-item" href="#search_job">공고검색</a>
                <a class="dropdown-item" href="#search_company">기업검색</a>
            </div>
        </div>
        <form action="{% url 'search_app:search_job_context' %}" method="get" id="search_form" class="w-75">
            <input type="text" class="form-control" placeholder="공고 검색(사람인)"
                name="search_job" id="search_text" value="{{ request.GET.search_job_context }}">
            <input type="hidden" name="page" value="1">
        </form>
    </div>
    
    
    <ul class="navbar-nav list-group-horizontal">
        {% if request.user.is_authenticated %}
        <li class="nav-item text-nowrap">
        <a href="{% url 'accounts:logout' %}" id="Logout-btn" class="nav-link px-3"name="button">Logout</a>
        </li>
        {% else %}
        <li class="nav-item text-nowrap d-inline"><a id="login-btn" class="nav-link px-3" type="button" name="button">Login</a>
        </li>
        <li class="nav-item text-nowrap d-inline"><a id="signup-btn" class="nav-link px-3" type="button" name="button">Sign
            up</a></li>
        {% endif %}
    </ul>
<!--  알람창(일단 크롤링 신청건만 사용중)  -->
    <div id="position-relative d-none">
        <div class="position-absolute top-20 start-50 translate-middle-x">
            {% if messages %}
                {% for message in messages %}
                <div
                        {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="alert-box" id="alert-box"></div>
        </div>
    </div>
</header>
   

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'search_app:search_job' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home" aria-hidden="true">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            홈
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_app:users_enters_info'%}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file" aria-hidden="true">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                             기업정보 공유(게시판)
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_app:user_enter_info' request.user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-shopping-cart" aria-hidden="true">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            내가 쓴 기업정보
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_app:crwaling_info' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users" aria-hidden="true">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            크롤링된 기업정보
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_app:task_list' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users" aria-hidden="true">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            크롤링 작동 정보
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link login_required" type="button" name="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-shopping-cart" aria-hidden="true">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            내가 쓴 기업정보
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login_required" type="button" name="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users" aria-hidden="true">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            크롤링된 기업정보
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login_required" type="button" name="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users" aria-hidden="true">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            크롤링 작동 정보
                        </a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </nav>
        <script type="text/javascript">
          $(function () {
            // Log in button
            $("#login-btn").modalForm({
                formURL: "{% url 'accounts:login' %}"
            });
          });
          $(document).ready(function () {
            // Log in button
            $(".login_required").modalForm({
                formURL: "{% url 'accounts:login' %}"
            });
            {% comment %} URL 정보를 가져온다 {% endcomment %}
            let searchParams = new URLSearchParams(window.location.search);
            if (searchParams.has('search_job')){
                $("#dropdownMenuLink").text('공고 검색(사람인)');
                $("#search_text").attr('name','search_job');
                $("#search_text").attr('value','{{request.GET.search_job}}');
                $("#search_form").attr('action','{% url 'search_app:search_job_context' %}');
                
            }else if (searchParams.has('search_company')){
                $("#dropdownMenuLink").text('기업검색');
                $("#search_text").attr('name','search_company');
                $("#search_text").attr('value','{{request.GET.search_company}}');
                $("#search_form").attr('action','{% url 'search_app:search_company_context' %}');
            }
            $(".dropdown-menu a").click(function() {
                  var text = $(this).text()
                  switch(text) {
                    case '공고검색':
                        $("#search_text").attr('placeholder','공고 검색');
                        $("#search_text").attr('name','search_job');
                        $("#search_text").attr('value','{{request.GET.search_job}}');
                        $("#search_form").attr('action','{% url 'search_app:search_job_context' %}');
                        $("#dropdownMenuLink").text('공고 검색(사람인)')
                        break;
                    case '기업검색':
                        $("#search_text").attr('placeholder','기업 검색(이전에 크롤링된, 중복된 모든 기업을 검색합니다)');
                        $("#search_text").attr('name','search_company');
                        $("#search_text").attr('value','{{request.GET.search_company}}');
                        $("#search_form").attr('action','{% url 'search_app:search_company_context' %}');
                        $("#dropdownMenuLink").text('기업검색')
                        break;
                    default:
                        $("#search_text").attr('placeholder','공고 검색');
                        $("#search_text").attr('name','search_job');
                        $("#search_form").attr('action','{% url 'search_app:search_job_context' %}');
                    }
            });
            var originalTitle=document.title
            function hashChange(){
                var page=location.hash.slice(1)
                if (page!=""){
                    $('#content').load(page+".html #sub-content")
                    document.title=originalTitle+' – '+page
                }
            }
            if ("onhashchange" in window){ // cool browser
                $(window).on('hashchange',hashChange).trigger('hashchange')
            }else{ // lame browser
                var lastHash=''
                setInterval(function(){
                    if (lastHash!=location.hash)
                        hashChange()
                    lastHash=location.hash
                },100)
            }
          });
          $(function () {
            // Sign up button
            $("#signup-btn").modalForm({
                formURL: "{% url 'accounts:signup' %}"
            });
          });
          $(function () {
            // Profile in button
            $("#profile-btn").modalForm({
                formURL: "{% url 'accounts:profile' %}"
            });
          });
          
          $("#search_form").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: $(this).attr("method"),
                data: $("#search_form").serialize(),
                beforeSend: function() {
                    {% comment %} window.onpopstate = function(event) {
                    alert(`location: ${document.location}, state: ${JSON.stringify(event.state)}`)
                    } {% endcomment %}
                    var search = $("#search_form").serialize()
                    var searchArray = $("#search_form").serializeArray()
                    var saerch_query = searchArray[1]
                    var page = searchArray[0]
                    var search_state = {"search_job" : saerch_query['value'], "name": page['value']}
                    const title = ''
                    console.log(search, searchArray)
                    window.history.pushState(search_state, title, "/search_job?"+search);
                    var originalTitle=document.title
                    function hashChange(){
                        var page=location.hash.slice(1)
                        if (page!=""){
                            $('#content').load(page+".html #sub-content")
                            document.title=originalTitle+' – '+page
                        }
                    }
                    if ("onhashchange" in window){ // cool browser
                        $(window).on('hashchange',hashChange).trigger('hashchange')
                    }else{ // lame browser
                        var lastHash=''
                        setInterval(function(){
                            if (lastHash!=location.hash)
                                hashChange()
                            lastHash=location.hash
                        },100)
                    }
                    hashChange();
                    $("#spinner").addClass("mt-5").append(
                        $("<div/>")
                        .attr("role", "alert")
                        .attr("style", "width: 3rem; height: 3rem;")
                        .addClass("spinner-border")
                        .append(
                            $("<span/>")
                            .addClass("visually-hidden")
                            .text("Loading...")
                        )
                    )
                },
                complete: function() {
                    $("#spinner").removeClass("mt-5")
                },
                success: function (data) {
                    $(".spinner-border").remove()
                    $(".table-responsive").remove()
                    $("#content_all").remove()
                    $("#content_header").remove()
                    $("main").append(data)
                    
                },
                error: function (response) {
                {% comment %} $(".position-relative").removeClass('d-none') {% endcomment %}
                console.log(response.status);
                $(".alert-box").append(
                    $("<div/>")
                    .attr("role", "alert")
                    .addClass("alert alert-warning alert-dismissible fade show")
                    .text("너무 많은 요청을 했습니다.")
                    .append(
                        $("<button/>")
                        .attr("type", "button")
                        .attr("data-bs-dismiss", "alert")
                        .attr("aria-label", "Close")
                        .addClass("btn-close")
                    )
                );
                $(".spinner-border").remove()
                
                },

            })
            .done(function(json) {    
            });
            });

                    
        </script>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="main">
        <div class="d-flex justify-content-center" id="spinner"></div>
                <div id="content_all">
                
                {% block content %}
                {% endblock %}
                </div>
        </main>
    </div>
</div>

</body>
</html>